<p id="notice"><%= notice %></p>

<table class="table">
    <tr>
        <th>Name:</th>
        <td><%= @crew.name %></td>

        <th>Group:</th>
        <td><%= @crew.group %></td>

    </tr>
</table>

<%= link_to 'Edit', edit_group_crew_path(@group, @crew), class: 'btn btn-primary' %>
<%= link_to 'Back', group_crews_path(@group), class: 'btn btn-primary' %>
