<%= form_with(model: group, local: true) do |form| %>
    <% if group.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
            <ul>
                <% group.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form_group">
        <%= form.label :group_name %>
        <%= form.text_field :group_name %>
    <div>

    <div class="form_group">
        <%= form.label :num_of_members %>
        <%= form.number_field :num_of_members %>
    </div>

    <div class="form_group">
        <%= form.label :debut_date %>
        <%= form.date_field :debut_date %>
    </div>

    <div class="form_group">
        <%= form.label :group_type %>
        <%= form.select :group_type, Group.group_types.keys, prompt: "Choose a type" %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
