<h1 class="title_table">Groups</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th>Debut Date</th>
            <th>Type</th>
            <th>Total Concerts</th>
            <th>Total Attendants</th>
            <th>Crews</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @groups.each do |group| %>
            <tr>
                <td><%= group.group_name %></td>
                <td><%= group.num_of_members %></td>
                <td><%= group.debut_date %></td>
                <td><%= group.group_type %></td>
                <td><%= Concert.concerts_of_group(group.id) %></td>
                <td><%= Concert.group_attendants(group.id) %></td>
                <td><%= Crew.crew_list(group.id) %></td>
                <td><%= link_to 'Show', group_path(group) %></td>
                <td><%= link_to 'Edit', edit_group_path(group) %></td>
                <td><%= link_to 'Destroy', group_path(group), method: :delete, data: { confirm: 'Are you sure? '} %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Group', new_group_path, class: 'btn btn-primary' %>
<%= link_to 'Go to Concerts', concerts_path, class: 'btn btn-primary' %>
