<p id="notice"><%= notice %></p>

<table>
    <tr>
        <th>Name:</th>
        <td><%= @group.group_name %></td>
    </tr>

    <tr>
        <th>Members:</th>
        <td><%= @group.num_of_members %></td>
    </tr>

    <tr>
        <th>Debut Date:</th>
        <td><%= @group.debut_date %></td>
    </tr>

    <tr>
        <th>Type:</th>
        <td><%= @group.group_type %></td>
    </tr>

    <tr>
        <th>Concerts this Month:</th>
        <td><%= Concert.concerts_this_month(@group.id) %></td>
    </tr>

    <tr>
        <th>Last Concert:</th>
        <td><%= Concert.last_concert(@group.id) %></td>
    </tr>

    <tr>
        <th>Max Attendants in a Concert:</th>
        <td><%= Concert.max_attendants(@group.id) %></td>
    </tr>

    <tr>
        <th>Longest duration of a Concert:</th>
        <td><%= Concert.longest_concert(@group.id) %></td>
    </tr>

</table>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'New Crew', new_group_crew_path(@group) %> | 
<%= link_to 'Back', groups_path %>
