<%= form_with(model: concert, local: true) do |form| %>
    <% if concert.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(concert.errors.count, "error") %> prohibited this concert from being saved:</h2>
            <ul>
                <% concert.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form_group">
        <%= form.label :concert_title %>
        <%= form.text_field :concert_title %>
    <div>

    <div class="form_group">
        <%= form.label :group_id %>
        <%= form.select :group_id, @groups.map {|group| [group.group_name, group.id] }, prompt: "Choose a group" %>
    </div>

    <div class="form_group">
        <%= form.label :num_of_attendants %>
        <%= form.number_field :num_of_attendants %>
    </div>

    <div class="form_group">
        <%= form.label :concert_date %>
        <%= form.date_field :concert_date %>
    </div>

    <div class="form_group">
        <%= form.label :concert_starts_at %>
        <%= form.time_field :concert_starts_at %>
    </div>

    <div class="form_group">
        <%= form.label :concert_ends_at %>
        <%= form.time_field :concert_ends_at %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
