<h1 class="title_table">Concerts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Group</th>
            <th>Attendants</th>
            <th>Date</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @concerts.each do |concert| %>
            <tr>
                <td><%= concert.concert_title %></td>
                <td><%= concert.group %></td>
                <td><%= concert.num_of_attendants %></td>
                <td><%= concert.concert_date %></td>
                <td><%= concert.concert_starts_at.strftime("%H:%M")  %></td>
                <td><%= concert.concert_ends_at.strftime("%H:%M")  %></td>
                <td><%= link_to 'Show', concert_path(concert), method: :get %></td>
                <td><%= link_to 'Edit', edit_concert_path(concert) %></td>
                <td><%= link_to 'Destroy', concert_path(concert), method: :delete, data: { confirm: 'Are you sure? '} %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Concert', new_concert_path, class: 'btn btn-primary' %>
<%= link_to 'Go to Groups', groups_path, class: 'btn btn-primary' %>

